/* @media only screen and (max-width: 500px) {
  .hero-banner-container {
    padding: 50px 30px;
    height: 560px !important;
  }
  .hero-banner-container .hero-banner-image {
    position: static;
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 300px;
    height: 250px;
  }
  .hero-banner-container h1 {
    margin-left: auto;
  }
  .hero-banner-container .hero-banner-button {
    margin-top: 4rem;
  }
  .desc {
    line-height: 0.5 !important;
  }
} */
